@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');

body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montagu Slab', serif;
}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}

.left{
    background-color: #25868d;
    width:200px;
    height:100%;
    float: left;
}

.right{
    width: 450px;
    float: right;
}

.profile-img{
    width: 180px;
    height: 180px;
    background-color: #dddddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #18777e;
    box-shadow: 6px 7px 9px 5px #3bc5fb70;

}

.profile-img img{
    width: 100%;
    border-radius: 50%;
}

.box-1{
    position: relative;
}

.heading{
    background-color: #535050;
    padding: 10px;
    color: #99d9db;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}

.heading::after{
    content:'';
    position: absolute;
    width: 21px;
    height: 18px;
    background: #535050;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}


.p1{
    padding: 9px 10px;
    font-size: 11px;
}
.icons-1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}

.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}

.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom:2px;
    color: white;
}
.html{
    width: 80%;
    background-color: white;

}

.css{
    width: 70%;
    background-color: white;

}

.js{
    width: 30%;
    background-color: white;

}

/* .jquery{
    width: 10%;
    background-color: white;

} */

.web{
    width: 75%;
    background-color: white;
}
.office{
    width: 95%;
    background-color: white;
}

.wilcom{
    width: 70%;
    background-color: white;
}


.icons2{
    padding: 18px 7px;
}
.name-div{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box-2{
    padding: 0px 50px;
    margin-top: 30px;
}
.p2{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}

h2{
    font-size: 16px;
    margin-bottom: 15px;
}

.icons3{
    vertical-align: bottom;
    font-size: 21px !important;
    color: #4d4d4d;
}
.p3{
    font-size: 12px;
    word-spacing: 0.9px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.p3 span{
    color: #3a8683;
    padding-left: 20px;
}